@charset "utf-8";
/* CSS Document */
body {
	background-color : #666;
	font-family:Verdana, Geneva, sans-serif;
}

h1 {
	font-size:14px;
}

p {
	font-size:12px;
}

a {
	color:#000;
}

a:visited {
	color:#900;
}

#Description{
	display:block;
	width: 550px;
	margin-left:auto;
	margin-right:auto;
}

#FlashID{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
}

